# Radarr instance URLs and API keys
RADARR_URL_1=http://radarr-instance-1.example.com:port
RADARR_API_KEY_1=your_api_key_1

RADARR_URL_2=http://radarr-instance-2.example.com:port
RADARR_API_KEY_2=your_api_key_2

RADARR_URL_3=http://radarr-instance-3.example.com:port
RADARR_API_KEY_3=your_api_key_3
